{eunit_compile_opts,
 [{src_dirs, ["src", "test"]}]}.

{provider_hooks,
 [{pre, [{compile, {lfe, compile}}]}]}.

{deps,
 [{lfe, ".*",
   {git, "git://github.com/rvirding/lfe.git",
    {tag, "v0.10.0"}}},
  {lutil, ".*",
   {git, "git://github.com/lfex/lutil.git",
    {tag, "0.7.0"}}},
  {ltest, ".*",
   {git, "git://github.com/lfex/ltest.git",
    {tag, "0.7.0"}}}]}.
